<!-- <div fxLayout="column" fxLayoutAlign="space-around center"></div> -->
<div class="bar">
  <input class="bar-input" type="radio" name="input" id="input_0"  disabled />
  <div class="bar-view">
    <label class="bar-button" for="input_0"></label>
  </div>
  <input class="bar-input" type="radio" name="input" id="input_1"  disabled />
  <div class="bar-view">
    <label class="bar-button" for="input_1"></label>
  </div>
  <input class="bar-input" type="radio" name="input" id="input_2"  disabled />
  <div class="bar-view">
    <label class="bar-button" for="input_2"></label>
  </div>
  <input class="bar-input" type="radio" name="input" id="input_3"  />
  <div class="bar-view"><br>
    <label class="bar-button" for="input_3"></label>
  </div>
</div><br>
