.image {
  width:250px;
  height: 300px;
  border: 2px solid black
}

.uploader-container {
  display: flex
}

.img-uploader {
  margin: auto;
  width: 75%
}

.img-center {
  width: 150px;
  height: 150px
}
